extends layout

block content
 .main.container.clearfix
        h3(style='text-align: center;') Live Departures
        div
                table(class="table bordered" style="text-align: center")
                        thread
                                tr
                                        th(style="text-align: center") Departing:
                                        th(style="text-align: center") P/F :
                                        th(style="text-align: center")
                        tbody
                                        tr
                                                td(style="text-align: center") Chesterfield
                                                td(style="text-align: center") 5
                                                td(style="text-align: center")
                                                                a.button(href='/process') Book
                                        tr

                                                td(style="text-align: center") Newcastle
                                                td(style="text-align: center") 10
                                                td(style="text-align: center")
                                                                a.button(href='/process') Book
                                        tr
                                                td(style="text-align: center") Doncaster
                                                td(style="text-align: center") 7
                                                td(style="text-align: center")
                                                                a.button(href='/process') Book

                                        tr
                                                td(style="text-align: center") Durham
                                                td(style="text-align: center") 3B
                                                td(style="text-align: center")
                                                                a.button(href='/process') Book
                                        tr
                                                td(style="text-align: center") Swinton
                                                td(style="text-align: center") 9
                                                td(style="text-align: center")
                                                                a.button(href='/process') Book
                                        tr
                                                td(style="text-align: center") Dore
                                                td(style="text-align: center") 1A
                                                td(style="text-align: center")
                                                                a.button(href='/process') Book
                                        tr
                                                td(style="text-align: center") Lincoln
                                                td(style="text-align: center") 4A
                                                td(style="text-align: center")
                                                                a.button(href='/process') Book
                                        tr
                                                td(style="text-align: center") Nottingham
                                                td(style="text-align: center") 8
                                                td(style="text-align: center")
                                                                a.button(href='/process') Book
                                        tr
                                                td(style="text-align: center") Leeds
                                                td(style="text-align: center") 1B
                                                td(style="text-align: center")
                                                                a.button(href='/process') Book