extends layout

block content
 .main.container.text-xs-center
  h1.display-3 E-Ticket
    #main
      .ticket-main
        .ticket-top
        .ticket-middle
        .ticket-bottom
          .ticket-logo-2-container
            .ticket-logo
          .ticket-printed
            span.ticket-label Printed 09:48 on 23-MCH-16
            center
            a.btn.btn-primary(href='/reprint') REPRINT
            a.btn.btn-primary(href='/printticket') PRINT TICKET
            a.btn.btn-primary(href='/profile') RETURN HOME

