extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4 

        a.btn.btn-primary(href='/bookATicket') BOOK A TICKET
        a.btn.btn-primary(href='/topUp') TOP UP
        a.btn.btn-primary(href='/register/register') CREATE AN ACCOUNT
