extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Urban Transport
    p.lead The Number 1 Transport System

    img(src='https://www.booker.com/sites/default/themes/booker_new/images/homepage/book.png')

    br
    a.btn.btn-primary(href='/register/register') Register Now
    a.btn.btn-primary(href='/login') Sign into Account
    a.btn.btn-primary(href='/guest') Guest Checkout
