extends layout

block content
  .main.container
        h1 Your Trips
        table(class="table bordered")
            thread
                tr
                  th(style="text-align: center") Start:
                  th(style="text-align: center") End:
                  th(style="text-align: center") Cost:
                  th(style="text-align: center") Date:
                tbody
                tr
                  td(style="text-align: center") Sheffield
                  td(style="text-align: center") Chesterfield
                  td(style="text-align: center") £10.00
                  td(style="text-align: center") 11/1/17
                tr
                  td(style="text-align: center") Sheffield
                  td(style="text-align: center") Chesterfield
                  td(style="text-align: center") £10.00
                  td(style="text-align: center") 10/1/17
                tr
                  td(style="text-align: center") Sheffield
                  td(style="text-align: center") Chesterfield
                  td(style="text-align: center") £10.00
                  td(style="text-align: center") 08/1/17

                  p Total: £30.00

                   a.btn.btn-primary(href='/profile') Back
