extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4
          img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar')
          | #{firstName} #{lastName}
        | #{email}
        p Welcome #{firstName} to your account.

        a.btn.btn-primary(href='/myTrips') MY TRIPS
        a.btn.btn-primary(href='/bookATicket') BOOK A TICKET
        a.btn.btn-primary(href='/topUp') TOP UP

        p ---------------------------------------------

        a.btn.btn-primary(href='/users/edituser') Edit Profile
        a.btn.btn-primary(href='/users/deleteuser') Delete Account