extends layout

block content
 .main.container.text-xs-center
  h1.display-3 Top Up
  p Balance is £14.56
            a.btn.btn-primary(href='/confirm') £5
            a.btn.btn-primary(href='/confirm') £10
            a.btn.btn-primary(href='/confirm') £15


