extends ../layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Your account has been successfully deleted.
        p Please return to the main page for anything else.

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/') Click here
